<section class="diet-banner" data-tone="{{tone}}"{{#if semanticRole}} role="{{semanticRole}}"{{/if}}{{#if ariaLive}} aria-live="{{ariaLive}}"{{/if}}>
  {{#if icon}}
  <span class="diet-icon diet-banner__icon" data-size="20" data-icon="{{icon}}" aria-hidden="true"></span>
  {{/if}}
  <div class="diet-banner__content">
    {{#if title}}
    <p class="diet-banner__title label-m">{{title}}</p>
    {{/if}}
    {{#if description}}
    <p class="diet-banner__description body-s">{{description}}</p>
    {{/if}}
  </div>
  {{#if actions}}
  <div class="diet-banner__actions">{{actions}}</div>
  {{/if}}
  {{#if dismissLabel}}
  <button class="diet-button diet-banner__dismiss" data-size="medium" data-type="quaternary" type="button" aria-label="{{dismissLabel}}">
    <span class="diet-icon" data-icon="multiply" aria-hidden="true"></span>
  </button>
  {{/if}}
</section>
