<div class="diet-tabs{{#if block}} diet-tabs--block{{/if}}" data-size="{{size}}" role="tablist" aria-label="{{ariaLabel}}">
  <input class="diet-tab__input sr-only" type="radio" id="{{tab1Id}}" name="{{groupName}}"{{tab1CheckedAttr}} />
  <label class="diet-tab" for="{{tab1Id}}">
    <span class="diet-tab__label {{#if labelClass}}{{labelClass}}{{else}}label-s{{/if}}">{{tab1Label}}</span>
  </label>
  {{#if tab2Id}}
  <input class="diet-tab__input sr-only" type="radio" id="{{tab2Id}}" name="{{groupName}}"{{tab2CheckedAttr}} />
  <label class="diet-tab" for="{{tab2Id}}">
    <span class="diet-tab__label {{#if labelClass}}{{labelClass}}{{else}}label-s{{/if}}">{{tab2Label}}</span>
  </label>
  {{/if}}
  {{#if tab3Id}}
  <input class="diet-tab__input sr-only" type="radio" id="{{tab3Id}}" name="{{groupName}}"{{tab3CheckedAttr}} />
  <label class="diet-tab" for="{{tab3Id}}">
    <span class="diet-tab__label {{#if labelClass}}{{labelClass}}{{else}}label-s{{/if}}">{{tab3Label}}</span>
  </label>
  {{/if}}
</div>
