<div class="diet-valuefield" data-size="{{size}}">
  <label class="diet-valuefield__control">
    <span class="diet-valuefield__label{{#if label}}{{else}} is-hidden{{/if}}">{{#if label}}{{label}}:{{/if}}</span>
    <span class="diet-valuefield__input">
      <input
        id="{{id}}"
        type="number"
        inputmode="decimal"
        class="diet-valuefield__field"
        aria-label="{{label}}"
        value="{{value}}"
        {{#if min}}min="{{min}}" {{/if}}{{#if max}}max="{{max}}" {{/if}}{{#if step}}step="{{step}}"{{/if}}
      />
    </span>
  </label>
</div>
