<div class="diet-dropdown" data-size="{{size}}" data-state="closed">
  <div class="diet-dropdown__control" role="button" tabindex="0" aria-haspopup="listbox" aria-expanded="false">
    <span class="diet-dropdown__value" data-label="{{label}}" data-placeholder="{{placeholder}}">
      <span class="diet-dropdown__value-label label">{{label}}:</span>
      <span class="diet-dropdown__value-choice body">{{selectedLabel}}</span>
    </span>
    <span class="diet-dropdown__icon" data-icon="chevron.down"></span>
  </div>
  <input id="{{id}}" type="hidden" class="diet-dropdown__field" value="{{value}}"{{#if path}} data-path="{{path}}"{{/if}} />
  <div class="diet-dropdown__popover diet-textedit__popover" role="dialog" aria-label="{{label}}">
    <div class="diet-dropdown__popover-header diet-textedit__popover-header">
      <div class="diet-dropdown__title label">{{label}}</div>
    </div>
    <div class="diet-dropdown__options" role="listbox">
      {{options}}
    </div>
  </div>
</div>
