<div class="diet-valuefield" data-size="{{size}}">
  <label class="diet-valuefield__control">
    <span
      class="diet-valuefield__label{{#if label}}{{else}} is-hidden{{/if}}"
    >{{#if label}}{{label}}{{/if}}</span>
    <span class="diet-valuefield__input">
      <input
        id="{{id}}"
        type="number"
        inputmode="decimal"
        class="diet-valuefield__field"
        aria-label="{{label}}"
        value="{{value}}"
        {{#if path}}data-path="{{path}}" {{/if}}
        {{#if hasMin}}min="{{min}}" {{/if}}{{#if hasMax}}max="{{max}}" {{/if}}{{#if hasStep}}step="{{step}}" {{/if}}{{#if disabled}}disabled{{/if}}
      />
    </span>
  </label>
</div>
