<div class="diet-popover">
  <div class="diet-popover__header">
    <span class="diet-popover__header-label {{#if headerLabelClass}}{{headerLabelClass}}{{else}}label-s{{/if}}">
      {{#if headerLabel}}{{headerLabel}}{{else}}Popover{{/if}}
    </span>
    <button
      type="button"
      class="diet-btn-ic diet-popover__header-trigger"
      data-size="sm"
      data-variant="neutral"
      aria-hidden="true"
      tabindex="-1"
    >
      <span
        class="diet-btn-ic__icon"
        data-icon="{{#if headerIcon}}{{headerIcon}}{{else}}textformat.characters.dottedunderline{{/if}}"
      ></span>
    </button>
  </div>
  <div class="diet-popover__body">
    <p class="{{#if bodyClass}}{{bodyClass}}{{else}}body-s{{/if}}">
      This is a sample block of content inside the popover. The body stretches to fit whatever nodes you render here.
    </p>
    <p class="{{#if bodyClass}}{{bodyClass}}{{else}}body-s{{/if}}">
      Use the popover body to stack menu actions, form controls, or informational text.
    </p>
  </div>
</div>
