<div class="diet-textfield" data-size="{{size}}">
  <label class="diet-textfield__control">
    <span class="diet-textfield__display-label{{#if label}}{{else}} is-hidden{{/if}}">{{#if label}}{{label}}:{{/if}}</span>
    <input
      id="{{id}}"
      type="text"
      class="diet-textfield__field"
      aria-label="{{label}}"
      value="{{value}}"
      placeholder="{{hint}}"{{#if databinding}} data-databinding="{{databinding}}"{{/if}}
    />
    <button
      class="diet-textfield__icon diet-btn-ic"
      data-size="{{size}}"
      data-variant="neutral"
      type="button"
      aria-hidden="true"
      tabindex="-1"
    >
      <span class="diet-btn-ic__icon" data-icon="hand.point.up"></span>
    </button>
  </label>
</div>
