
<div>
  <h1 class="heading-2" style="margin:0">Button</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xs" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xs">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="sm" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-s">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="md" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="lg" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xl" data-variant="primary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xs" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xs">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="sm" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-s">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="md" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="lg" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xl" data-variant="secondary" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xs" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xs">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="sm" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-s">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="md" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="lg" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xl" data-variant="neutral" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xs" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xs">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="sm" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-s">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="md" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="lg" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xl" data-variant="line1" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xs" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xs">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="sm" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-s">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="md" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-m">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="lg" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-l">Button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ictxt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ictxt" data-size="xl" data-variant="line2" type="button">
  
  <span class="diet-btn-ictxt__icon" data-icon="sparkles"></span>
  
  
  <span class="diet-btn-ictxt__label body-xl">Button</span>
  
</button>

      </div>
    </div>
    </div>

    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xs" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="sm" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="md" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="lg" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xl" data-variant="primary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xs" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="sm" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="md" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="lg" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xl" data-variant="secondary" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xs" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="sm" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="md" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="lg" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xl" data-variant="neutral" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xs" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="sm" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="md" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="lg" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-ic</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-ic" data-size="xl" data-variant="line1" type="button" aria-label="Icon button">
  
  <span class="diet-btn-ic__icon" data-icon="gearshape"></span>
  
  
</button>

      </div>
    </div>
    </div>

    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xs" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-xs">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="sm" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-s">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="md" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="lg" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='primary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xl" data-variant="primary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xs" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-xs">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="sm" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-s">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="md" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="lg" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='secondary'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xl" data-variant="secondary" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xs" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-xs">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="sm" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-s">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="md" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="lg" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xl" data-variant="neutral" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xs" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-xs">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="sm" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-s">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="md" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="lg" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='line1'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xl" data-variant="line1" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xs" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-xs">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="sm" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-s">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="md" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-m">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='lg'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="lg" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-l">Text button</span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-wrap-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-txt</span><span class="spec-line body-xsmall">data-size='xl'</span><span class="spec-line body-xsmall">data-variant='line2'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-txt" data-size="xl" data-variant="line2" type="button">
  
  
  <span class="diet-btn-txt__label body-xl">Text button</span>
  
</button>

      </div>
    </div>
    </div>
</div>
