
<div>
  <h1 class="heading-2" style="margin:0">Datepicker</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-datepicker</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-datepicker" data-size="sm">
  <label class="diet-datepicker__control">
    <span class="diet-datepicker__display-label">Date & time:</span>
    <span class="diet-datepicker__inputs">
      <input
        id="datepicker-sm-date"
        type="date"
        class="diet-datepicker__date"
        aria-label="Date & time date"
        
        
      />
      <input
        id="datepicker-sm-time"
        type="time"
        class="diet-datepicker__time"
        aria-label="Date & time time"
        step="60"
      />
    </span>
    <input
      id="datepicker-sm"
      type="hidden"
      class="diet-datepicker__field"
      value=""
      data-path=""
    />
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-datepicker</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-datepicker" data-size="md">
  <label class="diet-datepicker__control">
    <span class="diet-datepicker__display-label">Date & time:</span>
    <span class="diet-datepicker__inputs">
      <input
        id="datepicker-md-date"
        type="date"
        class="diet-datepicker__date"
        aria-label="Date & time date"
        
        
      />
      <input
        id="datepicker-md-time"
        type="time"
        class="diet-datepicker__time"
        aria-label="Date & time time"
        step="60"
      />
    </span>
    <input
      id="datepicker-md"
      type="hidden"
      class="diet-datepicker__field"
      value=""
      data-path=""
    />
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-datepicker</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-datepicker" data-size="lg">
  <label class="diet-datepicker__control">
    <span class="diet-datepicker__display-label">Date & time:</span>
    <span class="diet-datepicker__inputs">
      <input
        id="datepicker-lg-date"
        type="date"
        class="diet-datepicker__date"
        aria-label="Date & time date"
        
        
      />
      <input
        id="datepicker-lg-time"
        type="time"
        class="diet-datepicker__time"
        aria-label="Date & time time"
        step="60"
      />
    </span>
    <input
      id="datepicker-lg"
      type="hidden"
      class="diet-datepicker__field"
      value=""
      data-path=""
    />
  </label>
</div>

      </div>
    </div>
    </div>
</div>
