
<div>
  <h1 class="heading-2" style="margin:0">Menuactions</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="xs" data-variant="neutral" type="button">
  <span class="diet-btn-menuactions__label label-xs">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="sm" data-variant="neutral" type="button">
  <span class="diet-btn-menuactions__label label-s">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='neutral'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="md" data-variant="neutral" type="button">
  <span class="diet-btn-menuactions__label label-m">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    </div>
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='xs'</span><span class="spec-line body-xsmall">data-variant='aimenuactions'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="xs" data-variant="aimenuactions" type="button">
  <span class="diet-btn-menuactions__label label-xs">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='sm'</span><span class="spec-line body-xsmall">data-variant='aimenuactions'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="sm" data-variant="aimenuactions" type="button">
  <span class="diet-btn-menuactions__label label-s">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-btn-menuactions</span><span class="spec-line body-xsmall">data-size='md'</span><span class="spec-line body-xsmall">data-variant='aimenuactions'</span>
      </div>
      <div class="dieter-preview">
        <button class="diet-btn-menuactions" data-size="md" data-variant="aimenuactions" type="button">
  <span class="diet-btn-menuactions__label label-m">Action</span>
  
  <span class="diet-btn-menuactions__icon">
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--idle" data-icon="square.on.square"></span>
    <span class="diet-btn-menuactions__icon-layer diet-btn-menuactions__icon-layer--hover" data-icon="hand.point.up"></span>
  </span>
  
</button>

      </div>
    </div>
    </div>
</div>
