
<div>
  <h1 class="heading-2" style="margin:0">Repeatable List</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        
      </div>
      <div class="dieter-preview">
        <div class="diet-repeatable-list" data-bob-component="repeatable-list" data-fields='' data-add-label="Add item">
  <div class="diet-repeatable-list__header">
    <div class="diet-repeatable-list__title label-s">Items</div>
    <button class="diet-btn-ic" data-size="xs" data-variant="neutral" type="button" aria-label="Add item">
      <span class="diet-btn-ic__icon" data-icon="plus"></span>
    </button>
  </div>
  <div class="diet-repeatable-list__body" data-role="items"></div>
  <input type="hidden" class="diet-repeatable-list__hidden"  data-bob-json="true" />
  <div class="diet-repeatable-list__footer">
    <button class="diet-btn-txt" data-size="sm" data-variant="secondary" type="button">
      <span class="diet-btn-txt__label">Add item</span>
    </button>
  </div>
</div>

      </div>
    </div>
    </div>
</div>
