
<div>
  <h1 class="heading-2" style="margin:0">Slider</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-slider</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-slider" data-size="sm">
  <label class="diet-slider__label label-xs" for="slider-sm">Label</label>
  <input
    id="slider-sm"
    class="diet-slider__input"
    type="range"
    min="0"
    max="100"
    value="50"
    
    style="--value: 50; --min: 0; --max: 100;"
    oninput="this.style.setProperty('--value', this.value)"
  />
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-slider</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-slider" data-size="md">
  <label class="diet-slider__label label-s" for="slider-md">Label</label>
  <input
    id="slider-md"
    class="diet-slider__input"
    type="range"
    min="0"
    max="100"
    value="50"
    
    style="--value: 50; --min: 0; --max: 100;"
    oninput="this.style.setProperty('--value', this.value)"
  />
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-slider</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-slider" data-size="lg">
  <label class="diet-slider__label label-m" for="slider-lg">Label</label>
  <input
    id="slider-lg"
    class="diet-slider__input"
    type="range"
    min="0"
    max="100"
    value="50"
    
    style="--value: 50; --min: 0; --max: 100;"
    oninput="this.style.setProperty('--value', this.value)"
  />
</div>

      </div>
    </div>
    </div>
</div>
