
<div>
  <h1 class="heading-2" style="margin:0">Tabs</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-tabs</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-tabs diet-tabs--block" data-size="sm" role="tablist" aria-label="Widget tabs">
  <input class="diet-tab__input sr-only" type="radio" id="tabs-sm-1" name="tabs-sm" checked />
  <label class="diet-tab" for="tabs-sm-1">
    <span class="diet-tab__label label-xs">Tab 1</span>
  </label>
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-sm-2" name="tabs-sm" />
  <label class="diet-tab" for="tabs-sm-2">
    <span class="diet-tab__label {{#if labelClass}}label-xs">Tab 2</span>
  </label>
  {{/if}}
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-sm-3" name="tabs-sm" />
  <label class="diet-tab" for="tabs-sm-3">
    <span class="diet-tab__label {{#if labelClass}}label-xs">Tab 3</span>
  </label>
  {{/if}}
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-tabs</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-tabs diet-tabs--block" data-size="md" role="tablist" aria-label="Widget tabs">
  <input class="diet-tab__input sr-only" type="radio" id="tabs-md-1" name="tabs-md" checked />
  <label class="diet-tab" for="tabs-md-1">
    <span class="diet-tab__label label-s">Tab 1</span>
  </label>
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-md-2" name="tabs-md" />
  <label class="diet-tab" for="tabs-md-2">
    <span class="diet-tab__label {{#if labelClass}}label-s">Tab 2</span>
  </label>
  {{/if}}
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-md-3" name="tabs-md" />
  <label class="diet-tab" for="tabs-md-3">
    <span class="diet-tab__label {{#if labelClass}}label-s">Tab 3</span>
  </label>
  {{/if}}
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-tabs</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-tabs diet-tabs--block" data-size="lg" role="tablist" aria-label="Widget tabs">
  <input class="diet-tab__input sr-only" type="radio" id="tabs-lg-1" name="tabs-lg" checked />
  <label class="diet-tab" for="tabs-lg-1">
    <span class="diet-tab__label label-m">Tab 1</span>
  </label>
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-lg-2" name="tabs-lg" />
  <label class="diet-tab" for="tabs-lg-2">
    <span class="diet-tab__label {{#if labelClass}}label-m">Tab 2</span>
  </label>
  {{/if}}
  
  <input class="diet-tab__input sr-only" type="radio" id="tabs-lg-3" name="tabs-lg" />
  <label class="diet-tab" for="tabs-lg-3">
    <span class="diet-tab__label {{#if labelClass}}label-m">Tab 3</span>
  </label>
  {{/if}}
</div>

      </div>
    </div>
    </div>
</div>
