
<div>
  <h1 class="heading-2" style="margin:0">Textfield</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-textfield</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-textfield" data-size="sm">
  <label class="diet-textfield__control">
    <span class="diet-textfield__display-label label-xs">Label:</span>
    <input
      id="textfield-sm"
      type="text"
      class="diet-textfield__field body-xs"
      aria-label="Label"
      value=""
      placeholder="Hint text"
    />
    <button
      class="diet-textfield__icon diet-btn-ic"
      data-size="sm"
      data-variant="neutral"
      type="button"
      aria-hidden="true"
      tabindex="-1"
    >
      <span class="diet-btn-ic__icon" data-icon="hand.point.up"></span>
    </button>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-textfield</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-textfield" data-size="md">
  <label class="diet-textfield__control">
    <span class="diet-textfield__display-label label-s">Label:</span>
    <input
      id="textfield-md"
      type="text"
      class="diet-textfield__field body-s"
      aria-label="Label"
      value=""
      placeholder="Hint text"
    />
    <button
      class="diet-textfield__icon diet-btn-ic"
      data-size="md"
      data-variant="neutral"
      type="button"
      aria-hidden="true"
      tabindex="-1"
    >
      <span class="diet-btn-ic__icon" data-icon="hand.point.up"></span>
    </button>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-textfield</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-textfield" data-size="lg">
  <label class="diet-textfield__control">
    <span class="diet-textfield__display-label label-m">Label:</span>
    <input
      id="textfield-lg"
      type="text"
      class="diet-textfield__field body-m"
      aria-label="Label"
      value=""
      placeholder="Hint text"
    />
    <button
      class="diet-textfield__icon diet-btn-ic"
      data-size="lg"
      data-variant="neutral"
      type="button"
      aria-hidden="true"
      tabindex="-1"
    >
      <span class="diet-btn-ic__icon" data-icon="hand.point.up"></span>
    </button>
  </label>
</div>

      </div>
    </div>
    </div>
</div>
