
<div>
  <h1 class="heading-2" style="margin:0">Toggle</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-toggle</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-toggle diet-toggle--block" data-size="sm">
  <span
    class="diet-toggle__label label-xs"
    id="toggle-sm-label"
    
    
  >Label</span>
  <input id="toggle-sm" class="diet-toggle__input sr-only" type="checkbox" role="switch" aria-labelledby="toggle-sm-label" checked />
  <label class="diet-toggle__switch" for="toggle-sm" aria-hidden="true">
    <span class="diet-toggle__knob"></span>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-toggle</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-toggle diet-toggle--block" data-size="md">
  <span
    class="diet-toggle__label label-s"
    id="toggle-md-label"
    
    
  >Label</span>
  <input id="toggle-md" class="diet-toggle__input sr-only" type="checkbox" role="switch" aria-labelledby="toggle-md-label" checked />
  <label class="diet-toggle__switch" for="toggle-md" aria-hidden="true">
    <span class="diet-toggle__knob"></span>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-toggle</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-toggle diet-toggle--block" data-size="lg">
  <span
    class="diet-toggle__label label-m"
    id="toggle-lg-label"
    
    
  >Label</span>
  <input id="toggle-lg" class="diet-toggle__input sr-only" type="checkbox" role="switch" aria-labelledby="toggle-lg-label" checked />
  <label class="diet-toggle__switch" for="toggle-lg" aria-hidden="true">
    <span class="diet-toggle__knob"></span>
  </label>
</div>

      </div>
    </div>
    </div>
</div>
