
<div>
  <h1 class="heading-2" style="margin:0">Valuefield</h1>
</div>
<div class="devstudio-page-section">
  
    <div class="dieter-component-row" style="margin-bottom:var(--space-4)">
      
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-valuefield</span><span class="spec-line body-xsmall">data-size='sm'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-valuefield" data-size="sm">
  <label class="diet-valuefield__control">
    <span
      class="diet-valuefield__label"
      
      
    >Label:</span>
    <span class="diet-valuefield__input">
      <input
        id="valuefield-sm"
        type="number"
        inputmode="decimal"
        class="diet-valuefield__field"
        aria-label="Label"
        value="0"
        
      />
    </span>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-valuefield</span><span class="spec-line body-xsmall">data-size='md'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-valuefield" data-size="md">
  <label class="diet-valuefield__control">
    <span
      class="diet-valuefield__label"
      
      
    >Label:</span>
    <span class="diet-valuefield__input">
      <input
        id="valuefield-md"
        type="number"
        inputmode="decimal"
        class="diet-valuefield__field"
        aria-label="Label"
        value="0"
        
      />
    </span>
  </label>
</div>

      </div>
    </div>
    <div class="dieter-component-preview-280-wrapper">
      <div class="spec-wrapper dieter-spec-wrapper">
        <span class="spec-line body-xsmall">diet-valuefield</span><span class="spec-line body-xsmall">data-size='lg'</span>
      </div>
      <div class="dieter-preview">
        <div class="diet-valuefield" data-size="lg">
  <label class="diet-valuefield__control">
    <span
      class="diet-valuefield__label"
      
      
    >Label:</span>
    <span class="diet-valuefield__input">
      <input
        id="valuefield-lg"
        type="number"
        inputmode="decimal"
        class="diet-valuefield__field"
        aria-label="Label"
        value="0"
        
      />
    </span>
  </label>
</div>

      </div>
    </div>
    </div>
</div>
