<div class="diet-table">
  <table class="diet-table__table">
    <caption class="sr-only">
      Ordinary content records
    </caption>
    <thead>
      <tr>
        <th class="label-s" scope="col">Name</th>
        <th class="label-s" scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="body-s" scope="row">Homepage notice</th>
        <td class="body-s">Active</td>
      </tr>
      <tr>
        <th class="body-s" scope="row">Product recommendation</th>
        <td class="body-s">Draft</td>
      </tr>
    </tbody>
  </table>
</div>
