name = "tokyo-assets-dev"
main = "src/index.ts"
compatibility_date = "2025-12-28"
workers_dev = true
routes = [
  { pattern = "tokyo.dev.clickeen.com/l10n/*", zone_name = "clickeen.com" },
  { pattern = "tokyo.dev.clickeen.com/workspace-assets/*", zone_name = "clickeen.com" },
  { pattern = "tokyo.dev.clickeen.com/curated-assets/*", zone_name = "clickeen.com" },
  { pattern = "tokyo.dev.clickeen.com/renders/*", zone_name = "clickeen.com" },
]

[[r2_buckets]]
binding = "TOKYO_R2"
bucket_name = "tokyo-assets-dev"

[[queues.producers]]
binding = "L10N_PUBLISH_QUEUE"
queue = "instance-l10n-publish-cloud-dev"

[[queues.producers]]
binding = "RENDER_SNAPSHOT_QUEUE"
queue = "instance-render-snapshot-cloud-dev"

[[queues.consumers]]
queue = "instance-l10n-publish-cloud-dev"

[[queues.consumers]]
queue = "instance-render-snapshot-cloud-dev"

[env.local]
name = "tokyo-assets-local"

[[env.local.r2_buckets]]
binding = "TOKYO_R2"
bucket_name = "tokyo-assets-dev"

[[env.local.queues.producers]]
binding = "L10N_PUBLISH_QUEUE"
queue = "instance-l10n-publish-local"

[[env.local.queues.producers]]
binding = "RENDER_SNAPSHOT_QUEUE"
queue = "instance-render-snapshot-local"

[[env.local.queues.consumers]]
queue = "instance-l10n-publish-local"

[[env.local.queues.consumers]]
queue = "instance-render-snapshot-local"

[triggers]
crons = ["0 3 * * *"]
