<div class="diet-segmented diet-segmented-{{variant}}" role="radiogroup" data-size="{{size}}" aria-label="{{ariaLabel}}">
  {{#each segments}}
  <label class="diet-segment">
    <input class="diet-segment__input" type="radio" name="{{../groupName}}" value="{{value}}"{{#if ../path}} data-path="{{../path}}"{{/if}}{{#if checked}} checked{{/if}}{{#if disabled}} disabled{{/if}} />
    <span class="diet-segment__surface" aria-hidden="true"></span>
    <span class="diet-segment__content">
      {{#if icon}}<span class="diet-icon" data-icon="{{icon}}" aria-hidden="true"></span>{{/if}}
      {{#if label}}<span class="diet-segment__label">{{label}}</span>{{/if}}
      {{#if srLabel}}<span class="diet-segment__sr">{{srLabel}}</span>{{/if}}
    </span>
  </label>
  {{/each}}
</div>
