.diet-dropdown-actions {
  position: relative;
  display: inline-flex;
}

.diet-dropdown-actions__trigger {
  inline-size: max-content;
}

.diet-dropdown-actions .diet-popover {
  display: none;
  position: absolute;
  inset-block-start: calc(100% + var(--space-2));
  inset-inline-start: 0;
  z-index: 20;
  min-inline-size: max(200px, 100%);
}

.diet-dropdown-actions[data-state='open'] .diet-popover {
  display: block;
}

.diet-dropdown-actions__content {
  color: var(--color-text);
}
